.leaflet-container {
    height: calc(100vh - 60px);
    width: 100%;
}

.sidebar {
    height: calc(100vh - 60px);
    overflow: auto;
}

.placeholder_card {
    height: 200px;
}

.placeholder_adicionar {
    height: 50px;
}