.sidebar {
    height: calc(100vh - 75px);
    overflow: auto;
}

.placeholder_adicionar {
    height: 50px;
}

.clicavel {
    cursor: pointer;

    &:hover {
        color: rgba(0, 7, 14, 0.59);
    }
}

.link {
    color: #000;

    &:hover {
        color: rgba(0, 7, 14, 0.59);
        cursor: pointer;
    }
}

.texto_justificado {
    text-align: justify;
}