@media (min-width: 992px) {
    .scrollable-lg {
        height: calc(100vh - 60px);
        overflow: auto;
    }
}

.custom-map-container {
  /* Altura padrão para telas menores */
  height: calc(100vh - 250px);
  border-radius: 8px;
}

/* A partir de lg: altura mudada e sem border-radius */
@media (min-width: 992px) {
  .custom-map-container {
    height: calc(100vh - 60px);
    border-radius: 0;
  }
}



.placeholder_adicionar {
    height: 50px;
}

.clicavel {
    cursor: pointer;

    &:hover {
        color: rgba(0, 7, 14, 0.59);
    }
}

.link {
    color: #000;

    &:hover {
        color: rgba(0, 7, 14, 0.59);
        cursor: pointer;
    }
}

.texto_justificado {
    text-align: justify;
}