
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Certifique-se de que o z-index está alto o suficiente */
}

.modal {
    z-index: 1060; /* Certifique-se de que o modal está acima da sobreposição */
}
